[mysqld]
user        = mysql
datadir     = /var/lib/mysql
port        = 3306
bind-address = 0.0.0.0       # pour accepter les connexions réseaux de WordPress
# socket = /var/run/mysqld/mysqld.sock   <-- (optionnel, c’est la valeur par défaut)
